#building{
    color: #fff;
    background-image: url('/img/building.png');
    background-color: #000;
    height: 35rem; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25rem;
}